= form_for @list ||= @project.lists.build, :remote => true do |f|

  %h3 #{@list.new_record? ? 'New' : 'Edit'} task list
  -if @list.errors.any?
    %h4.alert_error
      - @list.errors.full_messages.each do |msg|
        %li= msg
  %fieldset
    .set
      =f.label :name
      =f.text_field :name
    .set
      =f.label "Description"
      =f.text_area :desc, :rows => 5
      =f.hidden_field :project_id

  .actions
    = f.submit 'Save'

