%article.module.width_full
  %header
    %h3= @list.name
    .submit_link
      =link_to "", edit_list_path(@list), class: :edit, title: 'Edit list', remote: true
      =link_to "", list_path(@list), class: :trash, title: 'Drop list', remote: true, confirm: 'Really?', method: :delete
  .module_content
    %p= truncate(@list.desc, :length => 200)
    #tasks
      - if @list.tasks.any?
        =render partial: 'tasks/list', object: @list.tasks
      - else
        =render 'tasks/form'

