-lists.each do |list|
  %li.icn_categories{:id => list.id}
    = link_to list.name, list, :remote => true, :id => list.id
%li.icn_new_article= link_to "Add task list", new_list_path(:project_id => @project.try(:id)), :remote => true

