%h3 Task Lists
- if @task_lists ||= (@project && !@project.new_record? && @project.lists)
  %ul#task_lists.toggle= render partial: 'lists/lists', object: @task_lists

- if @project && !@project.new_record?
  %h3 Project #{truncate(@project.name, :length => 20)}
  %ul.toggle
    %li.icn_edit_article= link_to "Edit project", edit_project_path(@project), :remote => true
    %li.icn_trash
      = link_to "Drop project", project_path(@project), :remote => true, :method => :delete, :confirm => 'Really?'

%footer
  %hr

