<h1>New wish</h1>

<form id="new-wish" name="wish">
  <div class="actions">
    <input type="text" name="title" />
    <input type="submit" value="Create Wish" />
  </div>

</form>

<a href="#/index">Back</a>