%h3 #{action_name.eql?("new") ? "New" : "Edit"} project

= form_for @project||=Project.new, :remote => true do |f|
  =errors(@project)
  %fieldset
    %p
      =f.label :name
      =f.text_field :name

  .actions
    = f.submit 'Save'

