.user
  %p
    = current_user.username
    = link_to "(#{pluralize current_user.tasks_to_do.count, 'task'} assigned)", assigned_tasks_path, remote: true

.breadcrumbs_container
  %article.breadcrumbs= projects_list

