.welcome
  %h1 Organize online. Free your mind.
  %div Spend less time managing your projects & tasks
  .sec and more time doing them.

  %span.links
    =link_to '', new_user_registration_path, :class => 'signup'
    or
    =link_to 'Login', new_user_session_path

