<h1>Edit wish</h1>

<form id="edit-wish" name="wish">
  <div class="actions">
    <input type="text" name="title" value="<%= title %>" />
    <input type="submit" value="Update Wish" />
  </div>

</form>

<a href="#/index">Back</a>