<article class="breadcrumbs">
  <%= projects.map(function(p) {return p.menu_item() }).join(ToDoList.Models.Project.menu_divider) %>
  <div class='breadcrumb_divider new'></div>
  <a href="#/new">Add Project</a>
</article>

